extends layout
block content
  section.main-content.inverse
    .row
      .medium-6.columns.text-center
        h2 New York
      .medium-6.columns.text-center
        h2 Los Angeles
    .row
      .medium-10.medium-centered.columns.text-center
        p Our engineering team is based out of both cities. Reach out to us via <a href="mailto:machinesinmedicine@gmail.com">email</a>.
to assist radiologists with cancer detection.
block footer
  +footer-bar