block vars
  - var page_name='Machines In Medicine'
  - var slug='press'
  - var section='about'
  - var layout='left-sidebar'
 
extends layout
 
mixin intros
  div.intro1
    .row
      .large-12.columns.video_background.text-center
        video.video_scale(id="video_background" src="../videos/stock-footage.mp4" autoplay loop poster="../videos/stock-footage-still.png")
      .large-12.columns.text-center.vertical-align
        h1 MACHINE VISION IN MEDICAL IMAGING
      .large-12.columns.text-center
        a.button(href="/login") Request an invite
  div.text-center
      .row
        .large-12.columns.text-center
          a(href="#mission")
            img(src="../images/icons/down_small.png" alt="Scroll down.")
  div(data-magellan-expedition="fixed")
    dl.sub-nav
      dd(data-magellan-arrival="mission")
        a(href="#mission") Our Mission
      dd(data-magellan-arrival="different")
        a(href="#different") How we're different
      dd(data-magellan-arrival="for_radiologists")
        a(href="#for_radiologists") For Radiologists
      dd(data-magellan-arrival="why_we_exist")
        a(href="#why_we_exist") Why we exist
      dd(data-magellan-arrival="early_trials")
        a(href="#early_trials") Early Trials
  div.main-content.text-center
    .row
      .medium-8.medium-centered.columns.centered-text
        br
        br
        br
        a(name="mission" data-magellan-destination="mission")
        h4.subheader.margin-top-40px The most accurate computer aided diagnosis system ever built. We leverage cloud computing, machine vision and machine learning. The classifier is trained only from real CT images under supervision of a team of expert radiologists.
  div.main-content.text-center
    .row
      hr
      br
      br
      a(name="different" data-magellan-destination="different")
      h2 How we're different.
      br
      .large-3.columns
         img(src="../images/icons/compass.png")
         h3 Accuracy
         p <strong>93%</strong> specificity and <strong>95%</strong> sensitivity.
         a(href="#") Learn More →
      .large-3.columns
         img(src="../images/icons/doctor1.png")
         h3 Human Assistant
         p Designed to improve confidence and speed of radiologists, not replace them.
      .large-3.columns
         img(src="../images/icons/needle.png")
         h3 Acute
         p Early detection of <strong>early stage, malignant</strong> nodules.
      .large-3.columns
         img(src="../images/icons/stopwach-128.png")
         h3 Instant
         p Highly detailed report available in seconds.
         a(href="#") Learn More →
    br
    br
    br
    hr
  div.main-content.text-center
     .row
        a(name="for_radiologists" data-magellan-destination="for_radiologists")
        .medium-8.medium-centered.columns.centered-text
          h2 Made for Radiologists
          h4.subheader The most accurate computer aided diagnosis system ever built. We  leverage cloud computing, machine vision and machine learning. The classifier is trained only from real CT images under supervision of a team of expert radiologists.
        hr
        br
        br
        br
        br
        br
  div.intro3.text-center
    .row
      .large-12.columns.text-center
        h1 EARLY TRIALS STARTING NOW.
      .large-12.columns.text-center
        a.button(href="/machine") Start your free trial
  div.intro4.text-center
    .row
      .medium-4.columns.action_panel
        .panel.callout.radius
          h4 Send DICOM
          hr
          p Select DICOM files from a patient.
      .medium-4.columns.action_panel
        .panel
          h4 Analyze
          hr
          p Wait while our classifier analyzes your data and generates a detailed report.
      .medium-4.columns.action_panel
        .panel
          h4 View
          hr
          p Results will be available for viewing shortly.
  div
    .row
      .medium-6.columns
        .panel
          img(src="../images/ct.png" width="50%" height="50%")
      .medium-6.columns
        .panel
          img(src="../images/ct-analyzed.png" width="50%" height="50%")
  div.intro5.text-center
    .row
      .large-12.columns
        h1 Computer science indistinguisble from magic.
        p This is an intro section
  hr
block content
  mixin intros