block vars
  - var page_name='Machines In Medicine'
  - var slug='press'
  - var section='about'
  - var layout='left-sidebar'
 
extends layout
 
mixin intros
  div.intro1
    .row
      .large-12.columns.video_background.text-center
        video.video_scale(id="video_background" src="../videos/stock-footage.mp4" autoplay loop poster="../videos/stock-footage-still.mp4")
      .large-12.columns.text-center.vertical-align
        h1 MACHINE VISION IN MEDICAL IMAGING
      .large-12.columns.text-center
        button Request an invite
  div.text-center
      .row
        .large-12.columns.text-center
          img(src="../images/icons/down_small.png" alt="Scroll down.")
  div.main-content.text-center
    .row
      .medium-8.medium-centered.columns.centered-text
        h4.subheader.margin-top-40px The most accurate computer aided diagnosis system ever built. We leverage cloud computing, machine vision and machine learning. The classifier is trained only from real CT images under supervision of a team of expert radiologists.
  div.main-content.text-center
    .row
      hr
      h2.margin-top-40px How we're different.
      .large-3.columns
         img(src="../images/icons/compass.png")
         h3 Accuracy
         p 93% specifity and 95% sensitivity. Learn more.
      .large-3.columns
         img(src="../images/icons/doctor1.png")
         h3 Human Assistant
         p Designed to improve confidence and speed of radiologists, not replace them.
      .large-3.columns
         img(src="../images/icons/needle.png")
         h3 Acute
         p Early detection of malignant <3mm nodules.
      .large-3.columns
         img(src="../images/icons/stopwach-128.png")
         h3 Instant
         p Highly detailed report available in seconds.
     hr
  div.main-content.text-center
     .row
       .medium-8.medium-centered.columns.centered-text
         h2 Made for Radiologists
         h4.subheader The most accurate computer aided diagnosis system ever built. We leverage cloud computing, machine vision and machine learning. The classifier is trained only from real CT images under supervision of a team of expert radiologists.
        hr
  div.intro3.text-center
    .row
      .large-12.columns.text-center
        h1 EARLY TRIALS STARTING NOW.
      .large-12.columns.text-center
        button Start your free trial
  div.intro4.text-center
    .row
      .large-12.columns
        h1 Computer science indistinguisble from magic.
  div.intro5.text-center
    .row
      .large-12.columns
        h1 Computer science indistinguisble from magic.
        p This is an intro section
  hr
block content
  mixin intros
