mixin footer-bar
  div.contain-to-grid
    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1#title Operation Nicaragua
        li.toggle-topbar.menu-icon
          a(href="#")
            span Menu
      section.top-bar-section
        ul.right
          li.divider
          li
            a(href="/contact") Contact
          li.divider

doctype
html
  head
    title #{title} - Operation Nicaragua
    link(rel='stylesheet', href='/foundation-5.3.3/css/foundation.css')
    link(rel='stylesheet', href='/stylesheets/machines.css')
    script(type='text/javascript' src='/foundation-5.3.3/js/vendor/modernizr.js')
  body
    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1
            a(href="/") Operation Nicaragua
        li.toggle-topbar.menu-icon
          a(href="#")
            span Menu
      section.top-bar-section
        ul.right
          li.divider
          li
            a(href="/signup") This is some bullshit
          li.divider
          li.active
            a(href="/") How Do I Join
          li.divider

          li.has-dropdown
            a(href="#") Destinations
            ul.dropdown 
              li
                a(href="machine") Nicaragua
              li
                a(href="machine") Honduras
              li
                a(href="machine") Costa Rica
              li
                a(href="machine") Mexico
              li
                a(href="machine") Belize
          li.has-dropdown
            a(href="#") Learn
            ul.dropdown 
              li
                a(href="machine") Destinations
              li
                a(href="machine") Cost
          li.divider
          li
            a(href="/contact") Contact
          li.divider
    .container
      block content
    footer
      block footer
    script(type='text/javascript' src='/foundation-5.3.3/js/vendor/jquery.js')
    script(type='text/javascript' src='/foundation-5.3.3/js/vendor/fastclick.js')
    //- script(type='text/javascript' src='/foundation-5.3.3/js/foundation/foundation.js')
    //- script(type='text/javascript' src='/foundation-5.3.3/js/foundation/foundation.magellan.js')
    script(type='text/javascript' src='/foundation-5.3.3/js/foundation.min.js')
    script(type='text/javascript' src='/machines.js')
    script
      $(document).foundation();

