.top-bar h1 {
    color: white }
.top-bar-section ul li > a {
    font-weight: lighter; }
.intro1 { 
  width: 100%;
  height: 655px;
  min-height: 655px;
  overflow: hidden; }
.intro1 h1 {
    font-size: 5em;
    color: white;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 100%; }
.vertical-align {
    top: -50px; }
.video_background {
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  top: 150px;
  -webkit-transform: scale(2.2); 
  -moz-transform: scale(2.2); }

.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem; }

.main-content { 
  width: 100%; 
  margin: 44px 0 22px;
  padding-bottom: 22px; }
.main-content p strong {
  font-size: 19px;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
    font-style: normal;
    font-weight: 300; }
.main-content h1 {
  font-size: 2em;
  color: white;
  font-weight: 500;
  line-height: 100%; }
.main-content h4 {
  margin: 44px 0 22px;
  padding-bottom: 22px; }
.margin-top-40px {
    margin-top: 40px; }

.intro3 { 
  background-color: white;
  width: 100%;
  height: 600px;
  background-image: url(../images/doctors.jpg); 
  background-attachment: fixed;
  background-position: 50% 0;  }
.intro3 h1 {
    margin: 44px 0 422px;
    margin-top: 200px;
    font-size: 5em;
    color: white;
    font-weight: 800;
    margin-bottom: 100px;
    line-height: 100%; }
.intro4 { 
  width: 100%;
  height: 800px;
  background-attachment: fixed;
  background-position: 50% 0; }
.intro5 { 
  background-image: url(../images/home-bg.jpg); 
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-position: 50% 0; }

/* Action Panel */
.action_panel {
  margin-top: 20px;
  height: 280px;
}
.action_panel .panel {
  height: 100%;
}
.action_panel h4 {
  text-align: center;
  margin:0;
  padding:0;
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
  /*background-color:rgba(230,230,230,1.0);*/
  background-color: #222222;
}
/*
.sub-nav {
  .sub-nav dt,
  .sub-nav dd,
  .sub-nav li {
    color: blue;
    .sub-nav dt a,
    .sub-nav dd a,
    .sub-nav li a {
      color: blue;
    }
  }
}
*/