body {
  color: white;
  /* font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  */
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.1; }

.top-bar h1 {
color: white;
font-size: 19px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
font-weight: 400;
font-style: normal;
line-height: .6em;
  }
.top-bar-section ul li > a {
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
font-size: 19px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
font-weight: 400;
font-style: normal;
line-height: .6em;
}

.mainpanel {
    border: 0;
    padding: 0;
    margin: 0;
    padding-top: 40px;
}
.mainpanel.lower {
  margin-top: 450px;
}
.mainpanel h5 {
  line-height: 100%;
}
.row.compact {
  margin-left: 50px;
}
.special h4 {
    font-family: "Brush Script MT", cursive;
    color: white;
    font-size: 2rem;
 }
.intro1 { 
  color: white;
  position:relative;
  width: 100%;
  height: 650px;
  min-height: 650px;
  overflow: hidden; }

.intro1 h1 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size: 5em;
    color: white;
    font-weight: 100;
    margin-bottom: 80px;
    line-height: 100%; }
.intro1-inner-container {
  padding-top: 230px;
  position: absolute;
  width: 100%;
}

.video-container {
  position: absolute;
  height:100%;
  width:100%;
}
.video-container video {
  min-width: 100%;
  min-height: 650px;
}

.video_background {
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: 100%; 
  top: 150px;
  -webkit-transform: scale(2.5); 
  -moz-transform: scale(2.2); }

.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem; }

.main-content { 
  width: 100%; 
  padding: 150px 0 150px;
 }

.main-content p strong {
  /*  font-size: 19px; */
  color: darkorange;
}
.main-content p {
  color: #6f6f6f;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
  font-style: normal;
  font-weight: 300; }
.main-content h1 {
  font-size: 2em;
  color: white;
  font-weight: 500;
  line-height: 100%; }

.inverse, .inverse h1, .inverse h2, .minverse h3, .inverse h4, .inverse p {
  color: white;
  background-color: #008cba;
}
.inverse a {
  color: white;
  font-weight: normal;
  text-decoration: underline;
}

.intro3 { 
  background-color: white;
  width: 100%;
  height: 600px;
  background-image: url(../images/doctors.jpg); 
  background-attachment: fixed;
  background-position: 50% 0;  }
.intro3 h1 {
    margin: 44px 0 422px;
    margin-top: 200px;
    font-size: 5em;
    color: white;
    font-weight: 800;
    margin-bottom: 100px;
    line-height: 100%; }
.intro4 { 
  width: 100%;
  height: 800px;
  background-attachment: fixed;
  background-position: 50% 0; }
.intro5 { 
  background-image: url(../images/home-bg.jpg); 
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-position: 50% 0; }

/* Action Panel */
.action_panel {
  height: 280px;
}
.action_panel .panel {
  height: 100%;
}
.action_panel h4 {
  text-align: center;
  margin:0;
  padding:0;
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
  /*background-color:rgba(230,230,230,1.0);*/
  background-color: #222222;
}

/* for login screen */
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  background-color: lightyellow; }

.divider {
  border-right: solid 1px #4e4e4e; }